:root {
    --side-width: 50vw;
    --side-height: 50vh;
}
main{
    width: var(--side-width);
    height: var(--side-height);
    border: 5px solid red;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}
section {
    display: flex;
    width: fit-content;
    height: fit-content;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

div {
    width: var(--side-width);
    height: var(--side-height);
}

div:first-child {
    background: url("/case_05/assets/img/img1.jpg");
    background-size: cover;
    background-position: center;
}
div:nth-child(2) {
    background: url("/case_05/assets/img/img5.jpg");
    background-size: cover;
    background-position: center;
}
div:nth-child(3) {
    background: url("/case_05/assets/img/img3.jpg");
    background-size: cover;
    background-position: center;
}
div:nth-child(4) {
    background: url("/case_05/assets/img/img4.jpg");
    background-size: cover;
    background-position: center;
}

@keyframes slide {
    0%,20% {
        transform: translateX(0%);
    }
    25%,45% {
        transform: translateX(-25%);

    }
    50%,70% {
        transform: translateX(-50%);

    }
    75%,100% {
        transform: translateX(-75%);
    }
}